.navbar{
    background-color: #AA3939;
}
.offcanvas{
    background-color: #AA3939;
}
.footer{
    background-color: #AA3939;
}
.btn{
    background-color: #AA3939;
}
.navbar-toggler {
    border-color: white;
}